body{

    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:black

}

.flex-container{

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

/* LISTADO DE PRODUCTOS */ 

.flexbox-item-1{
    
    order: 1;
    border: 1px solid black;
    width: 700px;
    height: 500px;
    padding: 10px;
    margin: 5px; 

}




/* CESTA */

.flexbox-item-2{

    order: 2;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #ddd; 
    width: 500px;
    height: max-content;
    padding: 10px;
    margin: 5px;

}

.flexbox-item-2 b{
    color:#c5dc95;
    text-align: left;
    padding-left: 5px;
}

.flexbox-item-2 hr:first-of-type{
    border: 1px solid #b2d556;
}
.flexbox-item-2 hr{
    border: 1px solid #e4e4e4;
}

.flexbox-item-2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.flexbox-item-2 img{
    width: 50px;
    width: 70px;
    border: 1px solid #e4e4e4;
}

.flexbox-item-2 p{
    font-weight: lighter;
    font-size:medium;
}

.flexbox-item-2 h3{
    margin-left: 50px;
    font-size:23px;
    font-weight: 400;
}


.flexbox-item-2 div:last-child {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.flexbox-item-2 div:last-child p {
    margin-left: 10px;
    margin-right: 190px;
}

.flexbox-item-2 div:last-child h2 {
    font-size:  27px;
    font-weight: 600;
}